.container {
  min-height: 100vh;
  padding: 1 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#D2691E;
  

}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  /* margin: 0 0 1rem; */
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
  font-size: 18px;
}

.title,
.description {
  text-align: center;
}

.banner {
  background-image: url("../public/banner.png");
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-position:center;
  padding: 20px;
  
    


}



.subtitle {
  text-transform: uppercase;
  
}

.solucao {
  background-color: #808080;
}

@media (min-width: 600px) {
  
  .coluna{
    display: flex;
    max-width: 1200px;
    gap: 20px;
    margin-top: 20px;
    background-color: rgb(219, 219, 219);
    border-radius: 24px;  
    padding: 0px   125px;
    
    
  }
  .coluna:hover {
    background-color: #d1d1d1a8;

  }
  .coluna p {
    max-width: 50%;
  }
  .coluna img {
    max-width: 30%;
    
  }
  
}


.elementos {
  text-align: left;
  max-width: 1200px;
  font-size: 12px;
  padding: 10px 5px;
  background-color: #87CEEB;
  border-radius: 19px;
  margin-bottom: 20px;
 
   

}

.diferenciacao {
  text-align: left;
  max-width: 1200px;
  font-size: 16px;
  padding: 10px 5px;
  background-color: #9a9a9a;
  border-radius: 19px;
  margin-bottom: 20px;

  
}

.diferenciacao img{
  height: 175px;
  width: 300px;
  border-radius: 15px;


}
.pagesale {
 background-color:#1C1C1C!important;
 border-radius: 15px;
 
}
.centralizar{
  text-align: center;
}
 

.pagesale a img:hover{
  transform: scale(1.15);
}

.pagesale a img{
  transition: 1s;
}
.feedbacks{
  background-color: #000000!important;
  border-radius: 12px;
  
}


.feedbacks h1{
  text-align: center;
  color: white;
  
}


.chamada {
  text-align: left;
  max-width: 1200px;
  font-size: 12px;
  padding: 10px 10px;
  background-color: #87CEEB;
  border-radius: 19px;



}

.depoimentos {
  text-align: left;
  max-width: 1200px;
  font-size: 12px;
  padding: 10px 5px;
  background-color: #ecececc9;
  border-radius: 19px;
  margin-bottom: 20px;
  margin-top: 20px;
  

}

.button {
  background-color: whitesmoke;
  border-radius: 50px;

}
.button img {
  height: 15vh;
}

.grafico {
  height: 80px;
}




.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1200px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 900px) {
  .grid {
    width: 100%;
    flex-direction: column;

  }

}
.coluna img{
  border-radius: 25px; ;
}


